/*Add Student Page*/

input{
  width: 45%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.add_button{
	width: 25%;
	padding: 12px 20px;
  	margin: 8px 0;
  	box-sizing: border-box;
  	background-color: Blue;
  	color: White;
}


/*View Student Page*/

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}